canvas {
  width: 768px;
  image-rendering: pixelated;
}
#gba {
  width: 768px;
  margin: 250px auto;
}
.logo {
  font-size: 32px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: #FAA0A0;
  width: 100%;
  height: 80px;
}
#cloud-logged-in {
  display: none;
}
#bios-notification, #save-notification, #state-notification {
  position: fixed;
  top: 100px;
  left: 25%;
  display: none;
  width: 60%;
}
.menu-bar .buttons {
  margin-left: 20px;
}
#full-screen {
  float: right;
}
.title-container {
  display: inline-block;
  text-align: center;
}
.title-container h3 {
  display: inline;
}
#game-input, #bios-input, #save-input {
  display: none;
}
@media all and (display-mode: fullscreen) {
  #gba {
    width: 100%;
    margin-top: 0px;
    margin-left: 3%;
  }
  #fps-counter {
    display: none;
  }
  canvas {
    height: 100vh;
    width: auto;
  }
  .navbar {
    height: 0 !important;
    width: 0 !important;
    display: none !important;
  }
  .navbar-brand {
    display: none !important;
  }
  #navbar-main {
    display: none;
  }
  body {
    background: #000000;
    height: 100vh !important;
    overflow: none !important;
  }
}
.title {
  color: #ffffff;
  text-align: center;
  line-height: 0;
}

.controls {
  padding: 20px;
  background: #ffffff;
  margin: 15% auto;
  width: 400px;
  border: 1px solid black;
}