canvas {
  width: 768px;
  image-rendering: pixelated;
}
#gba {
  width: 768px;
  margin: 250px auto;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: #FAA0A0;
  width: 100%;
  height: 80px;
}
#cloud-logged-in {
  display: none;
}
#bios-notification, #save-notification, #state-notification {
  position: fixed;
  top: 100px;
  left: 25%;
  display: none;
  width: 60%;
}
.menu-bar .buttons {
  margin-left: 20px;
}
#full-screen {
  float: right;
}
.title-container {
  display: inline-block;
  text-align: center;
}
.title-container h3 {
  display: inline;
}
#rom-input, #bios-input {
  display: none;
}
@media all and (display-mode: fullscreen) {
  #gba {
    width: 100%;
    margin-top: 0px;
    margin-left: 3%;
  }
  canvas {
    height: 100vh;
    width: auto;
  }
  .menu-bar {
    display: none;
  }
  body {
    background: #000000;
  }
}
.title {
  color: #ffffff;
  text-align: center;
  line-height: 0;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.controls {
  padding: 20px;
  background: #ffffff;
  margin: 15% auto;
  width: 400px;
  border: 1px solid black;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

#toast {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 80px;
  background: #50C878;
  border-radius: 3px;
  border: 1px solid #5F8575;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px grey;
}