canvas {
  width: 768px;
  image-rendering: pixelated;
}
#gba {
  width: 768px;
  margin: 250px auto;
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  background:#50C878;
  width: 100%;
  height: 80px;
}
.menu-bar .buttons {
  margin-left: 20px;
}
#full-screen {
  float: right;
}
.title-container {
  display: inline-block;
  text-align: center;
}
.title-container h3 {
  display: inline;
}
#rom-input, #bios-input {
  display: none;
}
@media all and (display-mode: fullscreen) {
  #gba {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
  }
  canvas {
    height: 100vh;
    width: auto;
  }
  .menu-bar {
    display: none;
  }
  body {
    background: #000000;
  }
}
.title {
  text-align: center;
}

.header-title {
  display: inline-block;
  left: 40%;
  transform: translateX(-50%);
  position: relative;
  color: #ffffff;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.controls {
  padding: 20px;
  background: #ffffff;
  margin: 15% auto;
  width: 400px;
  border: 1px solid black;
}
.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}